In [1]:
import pandas as pd
import numpy as np

In [2]:
object_data = pd.read_csv("objects.csv")

In [3]:
object_data.head()

   object   shape  colour  quantity
0  mirror  circle  silver         1
1   wheel  circle  silver         4
2   lemon  circle  yellow         4
3     box  square   brown         3
4   bread  square   white        10

In [4]:
shaped_data = object_data.groupby("shape")

In [5]:
shaped_data.first()

           object  colour  quantity
shape
circle     mirror  silver         1
rectangle   towel   white         2
square        box   brown         3

In [6]:
shaped_data.get_group("square")

  object   shape colour  quantity
3    box  square  brown         3
4  bread  square  white        10

In [7]:
shaped_data.quantity.sum()

shape
circle        9
rectangle    36
square       13
Name: quantity, dtype: int64

In [8]:
color_data = object_data.groupby("colour")

In [9]:
color_data.first()

        object      shape  quantity
colour
black   laptop  rectangle         1
blue       pen  rectangle         7
brown      box     square         3
red     bottle  rectangle         6
silver  mirror     circle         1
white    bread     square        10
yellow   lemon     circle         4

In [10]:
color_data.quantity.mean()

colour
black      1.0
blue       7.0
brown     11.5
red        6.0
silver     2.5
white      6.0
yellow     4.0
Name: quantity, dtype: float64

In [11]:
array = object_data.values.T.tolist()

In [12]:
array

[['mirror',
  'wheel',
  'lemon',
  'box',
  'bread',
  'towel',
  'laptop',
  'pen',
  'bottle',
  'biscuit'],
 ['circle',
  'circle',
  'circle',
  'square',
  'square',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle'],
 ['silver',
  'silver',
  'yellow',
  'brown',
  'white',
  'white',
  'black',
  'blue',
  'red',
  'brown'],
 [1, 4, 4, 3, 10, 2, 1, 7, 6, 20]]

In [13]:
array_index = array[1:3]

In [14]:
array_index

[['circle',
  'circle',
  'circle',
  'square',
  'square',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle'],
 ['silver',
  'silver',
  'yellow',
  'brown',
  'white',
  'white',
  'black',
  'blue',
  'red',
  'brown']]

In [17]:
index = pd.MultiIndex.from_arrays(array_index,names=["shape","colour"])

In [18]:
multi_data = pd.DataFrame({"object":array[0],
                          "quantity":array[3]},
                         index=index)

In [19]:
multi_data

                   object  quantity
shape     colour
circle    silver   mirror         1
          silver    wheel         4
          yellow    lemon         4
square    brown       box         3
          white     bread        10
rectangle white     towel         2
          black    laptop         1
          blue        pen         7
          red      bottle         6
          brown   biscuit        20

In [21]:
multi_data.groupby(level=["colour","shape"]).sum()

                  quantity
colour shape
black  rectangle         1
blue   rectangle         7
brown  rectangle        20
       square            3
red    rectangle         6
silver circle            5
white  rectangle         2
       square           10
yellow circle            4

In [23]:
multi_data.groupby(level=["colour","shape"]).get_group(("white","rectangle"))

                 object  quantity
shape     colour
rectangle white   towel         2

In [25]:
for name,group in object_data.groupby("colour"):
    print("name",name)
    print("group",group)

name black
group    object      shape colour  quantity
6  laptop  rectangle  black         1
name blue
group   object      shape colour  quantity
7    pen  rectangle   blue         7
name brown
group     object      shape colour  quantity
3      box     square  brown         3
9  biscuit  rectangle  brown        20
name red
group    object      shape colour  quantity
8  bottle  rectangle    red         6
name silver
group    object   shape  colour  quantity
0  mirror  circle  silver         1
1   wheel  circle  silver         4
name white
group   object      shape colour  quantity
4  bread     square  white        10
5  towel  rectangle  white         2
name yellow
group   object   shape  colour  quantity
2  lemon  circle  yellow         4